In [1]:
import numpy as np
import pandas as pd

### 读取表OPERATE_HIS

In [2]:
reader = pd.read_csv('operator_his_OPERATE_HIS.csv', iterator=True, header = None)
#每个表都没有达到1亿的数据量,这里为了方便直接填了1亿
try:
    df = reader.get_chunk(100000000)
except Exception as e:
    print(e)

C:\Users\姮娥\AppData\Roaming\Python\Python38\site-packages\IPython\core\async_helpers.py:68: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  coro.send(None)

In [3]:
names = ['ID', 'OPERATE_ID', 'OPERATE_SEQ', 'EQUIPMENT_ID', 'PLATE_NO', 'COMPANY_ID', 'CHAUFFEUR_NO', 'METER_NO', 'METER_K_VALUE',
         'TEAM_CODE','EMPTY_MAIL', 'EMPTY_BEGIN_TIME', 'WORK_BEGIN_TIME','WORK_END_TIME','UNIT_PRICE', 'LOAD_MAIL', 'SLOW_COUNT_TIME',
           'OPERATE_MONEY', 'EVALUATE', 'RECKON_ID', 'EQUIPMENT_TYPE', 'TEAM_CODE', 'LOG_TIME',
         'GET_ON_LONGITUDE', 'GET_ON_LATITUDE', 'GET_OFF_LONGITUDE', 'GET_OFF_LATITUDE']
df.columns = names

In [4]:
df

,ID,OPERATE_ID,OPERATE_SEQ,EQUIPMENT_ID,PLATE_NO,COMPANY_ID,CHAUFFEUR_NO,METER_NO,METER_K_VALUE,TEAM_CODE,...,OPERATE_MONEY,EVALUATE,RECKON_ID,EQUIPMENT_TYPE,TEAM_CODE,LOG_TIME,GET_ON_LONGITUDE,GET_ON_LATITUDE,GET_OFF_LONGITUDE,GET_OFF_LATITUDE
0,80001,20170204000033716076,1149836239,200015530,粤AX0V87,724,00064100,51715,675,8888,...,1500,0,NaN,1,b4412b1174364c3d945f0a7d3d60c433,2017-02-04 17:47:29,113.220777,23.147829,113.249007,23.128932
1,80002,20170204000033717917,1149836945,200013727,粤AF22D2,417,00076947,82570,675,8,...,1900,0,NaN,1,326a4acebf50710109e069616db740bd,2017-02-04 17:58:21,113.376185,22.961079,113.379155,22.937975
2,80003,20170204000033717918,1149836942,200015831,粤AH15J0,960,00077329,191254,680,8,...,2600,0,NaN,1,36d978c352a11b59a907e796ee18449f,2017-02-04 17:58:21,113.326963,23.135939,113.298335,23.141271
3,80004,20170204000033717984,1149836968,200016295,粤A214SX,723,00053644,59397,675,0,...,2000,0,NaN,1,c6592b20f17103881939d509bdf00c62,2017-02-04 17:58:46,113.322663,23.117256,113.305260,23.098317
4,80005,20170204000033716743,1149836487,200013377,粤A0HP52,82,00052805,67026,675,8,...,2800,0,NaN,1,2c8702485e7bacaa78e0381ef7a121ce,2017-02-04 17:51:12,113.247786,23.185061,113.247702,23.116870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11175133,11255134,20170329000044254931,1157306694,200015210,粤AS6T42,965,00000734,45192,675,8,...,9600,0,NaN,1,b2d9115c653b15a2ee52f33ee04a5ebc,2017-03-29 17:37:16,113.290320,23.391121,113.264904,23.130300
11175134,11255135,20170329000044254935,1157306694,200017321,粤AK03G9,985,00004191,191617,540,0,...,1600,0,NaN,1,1f176d204053637db12d12c3fff408c6,2017-03-29 17:37:17,113.416696,23.132432,113.421153,23.161513
11175135,11255136,20170329000044256698,1157307487,200013141,粤AS0N44,961,00012701,47483,675,2,...,1400,0,NaN,1,f92379c6b48399a9929fd7005601ec52,2017-03-29 17:49:36,113.335566,23.151995,113.314848,23.153936
11175136,11255137,20170329000044256703,1157307487,200017281,粤AJ74N0,603,00038272,191603,680,0,...,1100,0,NaN,1,50e829fc39dede5779c7d22530378411,2017-03-29 17:49:38,113.296362,23.152669,113.277895,23.149458
11175137,11255138,20170329000044256705,1157307490,200015127,粤A2BR31,971,00057912,24648,680,1,...,2900,0,NaN,1,267703885717723b5c27bb57a3f42243,2017-03-29 17:49:39,113.292250,23.131022,113.335234,23.177647

In [5]:
df.describe()

,ID,OPERATE_SEQ,EQUIPMENT_ID,COMPANY_ID,METER_NO,METER_K_VALUE,TEAM_CODE,EMPTY_MAIL,UNIT_PRICE,LOAD_MAIL,SLOW_COUNT_TIME,OPERATE_MONEY,EVALUATE,RECKON_ID,EQUIPMENT_TYPE,GET_ON_LONGITUDE,GET_ON_LATITUDE,GET_OFF_LONGITUDE,GET_OFF_LATITUDE
count,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07,11175138.0,0.0,11175138.0,1.117514e+07,1.117514e+07,1.117514e+07,1.117514e+07
mean,5.667570e+06,1.160604e+09,1.994091e+08,7.169832e+02,6.746465e+04,8.636885e+02,5.732328e+02,3.368904e+00,2.592838e+02,6.776863e+00,3.995064e+02,2.386020e+03,0.0,NaN,1.0,1.109204e+02,2.265198e+01,1.125855e+02,2.299147e+01
std,3.225985e+06,1.206665e+08,7.844486e+06,2.756070e+02,1.025539e+06,3.032507e+02,1.516272e+03,1.000222e+01,4.069822e+01,9.220263e+00,1.650775e+03,2.453612e+03,0.0,NaN,0.0,1.621016e+01,3.310735e+00,8.908739e+00,1.820195e+00
min,8.000100e+04,2.810000e+02,1.000100e+08,8.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,1.0,-1.133220e+02,-2.314758e+01,-1.132321e+02,-2.313374e+01
25%,2.873785e+06,1.151423e+09,2.000120e+08,6.030000e+02,2.363200e+04,6.800000e+02,0.000000e+00,2.900000e-01,2.600000e+02,2.660000e+00,1.230000e+02,1.200000e+03,0.0,NaN,1.0,1.132537e+02,2.311321e+01,1.132536e+02,2.311280e+01
50%,5.667570e+06,1.153894e+09,2.000141e+08,7.460000e+02,3.458900e+04,6.800000e+02,1.000000e+00,1.310000e+00,2.600000e+02,4.760000e+00,2.490000e+02,1.800000e+03,0.0,NaN,1.0,1.132797e+02,2.313099e+01,1.132814e+02,2.313152e+01
75%,8.461354e+06,1.155825e+09,2.000159e+08,9.610000e+02,6.932000e+04,1.360000e+03,8.000000e+00,3.700000e+00,2.600000e+02,8.240000e+00,5.070000e+02,2.800000e+03,0.0,NaN,1.0,1.133181e+02,2.315075e+01,1.133203e+02,2.315276e+01
max,1.125514e+07,4.294837e+09,3.000000e+08,9.890000e+02,8.888889e+07,9.360000e+03,8.888000e+03,8.919700e+03,9.999000e+03,8.010170e+03,8.036550e+05,9.201000e+05,0.0,NaN,1.0,1.511605e+02,5.437580e+01,1.511605e+02,4.546435e+01

### 选出有用的信息

In [6]:
descriptions = ['OPERATE_ID', 'PLATE_NO', 'METER_K_VALUE', 'EMPTY_MAIL', 'UNIT_PRICE', 'LOAD_MAIL', 'SLOW_COUNT_TIME', 
                'OPERATE_MONEY', 'GET_ON_LONGITUDE', 'GET_ON_LATITUDE', 'GET_OFF_LONGITUDE', 'GET_OFF_LATITUDE', 'LOG_TIME',
               'EMPTY_BEGIN_TIME', 'WORK_BEGIN_TIME','WORK_END_TIME','UNIT_PRICE', 'LOAD_MAIL', 'SLOW_COUNT_TIME']

In [7]:
data = df[descriptions]
data

,OPERATE_ID,PLATE_NO,METER_K_VALUE,EMPTY_MAIL,UNIT_PRICE,LOAD_MAIL,SLOW_COUNT_TIME,OPERATE_MONEY,GET_ON_LONGITUDE,GET_ON_LATITUDE,GET_OFF_LONGITUDE,GET_OFF_LATITUDE,LOG_TIME,EMPTY_BEGIN_TIME,WORK_BEGIN_TIME,WORK_END_TIME,UNIT_PRICE,LOAD_MAIL,SLOW_COUNT_TIME
0,20170204000033716076,粤AX0V87,675,3.82,260,3.83,331,1500,113.220777,23.147829,113.249007,23.128932,2017-02-04 17:47:29,2017-02-04 17:05:28,2017-02-04 17:15:06,2017-02-04 17:25:33,260,3.83,331
1,20170204000033717917,粤AF22D2,675,33.24,260,4.66,631,1900,113.376185,22.961079,113.379155,22.937975,2017-02-04 17:58:21,2017-02-04 15:31:09,2017-02-04 17:43:22,2017-02-04 17:59:08,260,4.66,631
2,20170204000033717918,粤AH15J0,680,0.51,260,7.00,738,2600,113.326963,23.135939,113.298335,23.141271,2017-02-04 17:58:21,2017-02-04 17:31:28,2017-02-04 17:37:24,2017-02-04 17:58:48,260,7.00,738
3,20170204000033717984,粤A214SX,675,1.49,260,5.41,339,2000,113.322663,23.117256,113.305260,23.098317,2017-02-04 17:58:46,2017-02-04 17:32:45,2017-02-04 17:37:29,2017-02-04 17:50:42,260,5.41,339
4,20170204000033716743,粤A0HP52,675,3.71,260,8.82,336,2800,113.247786,23.185061,113.247702,23.116870,2017-02-04 17:51:12,2017-02-04 17:12:24,2017-02-04 17:23:02,2017-02-04 17:41:36,260,8.82,336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11175133,20170329000044254931,粤AS6T42,675,24.96,390,33.84,934,9600,113.290320,23.391121,113.264904,23.130300,2017-03-29 17:37:16,2017-03-29 15:17:52,2017-03-29 16:45:34,2017-03-29 17:31:42,390,33.84,934
11175134,20170329000044254935,粤AK03G9,540,23.31,260,4.40,50,1600,113.416696,23.132432,113.421153,23.161513,2017-03-29 17:37:17,2017-03-29 16:08:35,2017-03-29 17:28:51,2017-03-29 17:36:12,260,4.40,50
11175135,20170329000044256698,粤AS0N44,675,0.57,260,2.98,522,1400,113.335566,23.151995,113.314848,23.153936,2017-03-29 17:49:36,2017-03-29 17:29:57,2017-03-29 17:33:48,2017-03-29 17:47:10,260,2.98,522
11175136,20170329000044256703,粤AJ74N0,680,0.88,260,2.20,226,1100,113.296362,23.152669,113.277895,23.149458,2017-03-29 17:49:38,2017-03-29 17:37:29,2017-03-29 17:41:37,2017-03-29 17:48:37,260,2.20,226
11175137,20170329000044256705,粤A2BR31,680,0.00,260,7.79,1055,2900,113.292250,23.131022,113.335234,23.177647,2017-03-29 17:49:39,2017-03-29 17:24:09,2017-03-29 17:24:56,2017-03-29 17:49:48,260,7.79,1055

### 提取计价器K值异常的数据

In [8]:
k_index_under = []
k_index_over = []
k_values = data['METER_K_VALUE'].values.tolist()
for i in range(len(k_values)):
    if k_values[i] > 1380:
        k_index_over.append(i)
    if k_values[i] < 520:
        k_index_under.append(i)

In [9]:
k_under = []
for i in k_index_under:
    k_under.append(data[i:i+1])
k_over = []
for i in k_index_over:
    k_over.append(data[i:i+1])
Kunder = pd.concat([k for k in k_under], axis = 0, ignore_index=True)
Kover = pd.concat([k for k in k_over], axis = 0, ignore_index=True)

In [12]:
use = ['PLATE_NO', 'GET_ON_LONGITUDE', 'GET_ON_LATITUDE', 'GET_OFF_LONGITUDE', 'GET_OFF_LATITUDE', 'LOG_TIME']
temp_1 = Kunder['METER_K_VALUE'].values.tolist()
temp_2 = Kover['METER_K_VALUE'].values.tolist()
Kunder = Kunder[use]
Kover = Kover[use]

In [13]:
abs_conditions = []
for i in range(len(temp_1)):
    string = '计价器K值过小，K值为' + str(temp_1[i])
    abs_conditions.append(string)
Kunder['Abnormal_Condition'] = abs_conditions
abs_conditions = []
for i in range(len(temp_2)):
    string = '计价器K值过大，K值为' + str(temp_2[i])
    abs_conditions.append(string)
Kover['Abnormal_Condition'] = abs_conditions

C:\Users\姮娥\AppData\Local\Temp/ipykernel_1996/2304070306.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kunder['Abnormal_Condition'] = abs_conditions
C:\Users\姮娥\AppData\Local\Temp/ipykernel_1996/2304070306.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kover['Abnormal_Condition'] = abs_conditions

In [25]:
Kunder = Kunder.drop_duplicates(['PLATE_NO'], keep='first',ignore_index=True)
Kover = Kover.drop_duplicates(['PLATE_NO'], keep='first',ignore_index=True)
Kover = Kover.drop([4,5])
Kover = Kover.reset_index(drop=True)

In [28]:
Kunder.to_csv('计价器K值过小.csv')
Kover.to_csv('计价器K值过大.csv')

### 提取上下车坐标异常的数据（上车坐标==下车坐标）

In [29]:
get_on_longitude = data['GET_ON_LONGITUDE'].values.tolist()
get_on_latitude = data['GET_ON_LATITUDE'].values.tolist()
get_off_longitude = data['GET_OFF_LONGITUDE'].values.tolist()
get_off_latitude = data['GET_OFF_LATITUDE'].values.tolist()

In [30]:
get_on_index = []
get_off_index = []
for i in range(len(get_on_longitude)):
    temp = (get_on_longitude[i], get_on_latitude[i])
    get_on_index.append(temp)
    temp = (get_off_longitude[i], get_off_latitude[i])
    get_off_index.append(temp)

In [31]:
error_index = []
for i in range(len(get_on_index)):
    if get_on_index[i] == get_off_index[i]:
        error_index.append(i)

In [32]:
error = []
for i in error_index:
    error.append(data[i:i+1])

In [33]:
get_on_off_error = pd.concat([e for e in error], axis = 0, ignore_index=True)

In [55]:
get_on_off_error = get_on_off_error[use]
get_on_off_error = get_on_off_error.drop(get_on_off_error[get_on_off_error.GET_ON_LONGITUDE == 0].index)
get_on_off_error = get_on_off_error.reset_index(drop=True)
get_on_off_error = get_on_off_error.drop_duplicates(['PLATE_NO'], keep='first',ignore_index=True)
get_on_off_error = get_on_off_error[0:50]

In [56]:
string = '乘客上下车地点相同'
strings = [string for i in range(len(get_on_off))]
get_on_off_error['Abnormal_Condition'] = strings

In [57]:
get_on_off_error

,PLATE_NO,GET_ON_LONGITUDE,GET_ON_LATITUDE,GET_OFF_LONGITUDE,GET_OFF_LATITUDE,LOG_TIME,Abnormal_Condition
0,粤AH71Y7,113.256654,23.100932,113.256654,23.100932,2017-02-04 05:41:41,乘客上下车地点相同
1,粤AA94Y7,113.294169,23.215304,113.294169,23.215304,2017-02-04 13:15:23,乘客上下车地点相同
2,粤AG54P1,113.273818,23.117929,113.273818,23.117929,2017-02-04 14:40:43,乘客上下车地点相同
3,粤A1FD15,113.278531,23.129768,113.278531,23.129768,2017-02-04 23:25:33,乘客上下车地点相同
4,粤AJ62P1,113.300238,23.066552,113.300238,23.066552,2017-02-04 12:19:31,乘客上下车地点相同
5,粤A1FN53,113.304400,23.110927,113.304400,23.110927,2017-02-04 18:03:30,乘客上下车地点相同
6,粤A8HJ46,113.281704,23.117006,113.281704,23.117006,2017-02-04 03:34:08,乘客上下车地点相同
7,粤A1CA74,113.217819,23.110474,113.217819,23.110474,2017-02-04 14:21:52,乘客上下车地点相同
8,粤A2AU42,113.328234,23.167193,113.328234,23.167193,2017-02-04 02:12:44,乘客上下车地点相同
9,粤A3HL64,113.260411,23.196783,113.260411,23.196783,2017-02-04 00:30:56,乘客上下车地点相同
10,粤AU0H94,113.422265,23.129118,113.422265,23.129118,2017-02-04 17:38:12,乘客上下车地点相同
11,粤AE41L0,113.323284,23.119610,113.323284,23.119610,2017-02-04 14:48:01,乘客上下车地点相同
12,粤AF96X7,113.309032,23.148228,113.309032,23.148228,2017-02-04 09:25:51,乘客上下车地点相同
13,粤AJ24L7,113.267195,23.164168,113.267195,23.164168,2017-02-04 06:45:21,乘客上下车地点相同
14,粤AE46J3,113.319344,23.151870,113.319344,23.151870,2017-02-04 07:03:35,乘客上下车地点相同
15,粤A4KV40,113.325118,23.120995,113.325118,23.120995,2017-02-04 07:57:52,乘客上下车地点相同
16,粤A0XX92,113.261283,23.101617,113.261283,23.101617,2017-02-01 07:29:36,乘客上下车地点相同
17,粤AJ42T7,113.328055,23.119035,113.328055,23.119035,2017-02-01 18:27:18,乘客上下车地点相同
18,粤A334RS,113.285677,23.137871,113.285677,23.137871,2017-02-01 17:25:02,乘客上下车地点相同
19,粤AT1U49,113.230924,23.102221,113.230924,23.102221,2017-02-01 20:52:39,乘客上下车地点相同
20,粤AY1R53,113.323592,23.197936,113.323592,23.197936,2017-02-02 17:07:25,乘客上下车地点相同
21,粤AC49X2,113.321481,23.125919,113.321481,23.125919,2017-02-02 17:18:29,乘客上下车地点相同
22,粤AJ35W4,113.270760,23.104069,113.270760,23.104069,2017-02-02 20:40:28,乘客上下车地点相同
23,粤A4RD41,113.399904,23.134873,113.399904,23.134873,2017-02-02 11:22:02,乘客上下车地点相同
24,粤A0NU94,113.257466,23.112569,113.257466,23.112569,2017-02-02 10:11:15,乘客上下车地点相同
25,粤AX3G74,113.392184,23.142742,113.392184,23.142742,2017-02-02 13:49:39,乘客上下车地点相同
26,粤A8CU05,113.328777,23.287676,113.328777,23.287676,2017-02-02 06:50:23,乘客上下车地点相同
27,粤A0KM82,113.316244,23.143217,113.316244,23.143217,2017-02-01 19:24:27,乘客上下车地点相同
28,粤A551TF,113.255231,23.128301,113.255231,23.128301,2017-02-01 19:20:37,乘客上下车地点相同
29,粤AZ6F49,113.369510,23.150923,113.369510,23.150923,2017-02-01 19:21:17,乘客上下车地点相同
30,粤A0JW49,113.285655,23.104141,113.285655,23.104141,2017-02-01 00:07:37,乘客上下车地点相同
31,粤A8CA45,113.277773,23.124977,113.277773,23.124977,2017-02-02 10:53:29,乘客上下车地点相同
32,粤AJ47W1,113.257602,23.087887,113.257602,23.087887,2017-02-01 15:54:48,乘客上下车地点相同
33,粤A055RX,113.322784,23.142022,113.322784,23.142022,2017-02-02 00:02:04,乘客上下车地点相同
34,粤A018TG,113.322501,23.123086,113.322501,23.123086,2017-02-02 12:14:07,乘客上下车地点相同
35,粤AJ52Q8,113.450522,23.101007,113.450522,23.101007,2017-02-02 17:53:15,乘客上下车地点相同
36,粤A4DF43,113.334019,23.172613,113.334019,23.172613,2017-02-02 22:21:46,乘客上下车地点相同
37,粤AF94J6,113.280294,23.088191,113.280294,23.088191,2017-02-02 04:13:01,乘客上下车地点相同
38,粤A594RD,113.223912,23.125612,113.223912,23.125612,2017-02-02 19:02:24,乘客上下车地点相同
39,粤AY5X64,113.318383,23.148917,113.318383,23.148917,2017-02-01 13:17:22,乘客上下车地点相同
40,粤A0FN35,113.274396,23.073212,113.274396,23.073212,2017-02-02 20:54:12,乘客上下车地点相同
41,粤A2XJ51,113.298664,23.224101,113.298664,23.224101,2017-02-02 00:25:50,乘客上下车地点相同
42,粤AY5J81,113.219261,23.086468,113.219261,23.086468,2017-02-02 05:53:19,乘客上下车地点相同
43,粤AW1W70,113.285271,23.106416,113.285271,23.106416,2017-02-02 10:54:26,乘客上下车地点相同
44,粤A0EC36,113.347088,23.126213,113.347088,23.126213,2017-02-02 01:38:47,乘客上下车地点相同
45,粤A0MB19,113.367893,23.131107,113.367893,23.131107,2017-02-01 16:23:15,乘客上下车地点相同
46,粤AJ17W1,113.368069,23.076442,113.368069,23.076442,2017-02-02 15:21:53,乘客上下车地点相同
47,粤A374SG,113.345552,23.083464,113.345552,23.083464,2017-02-02 23:32:46,乘客上下车地点相同
48,粤AT3U40,113.358347,23.116899,113.358347,23.116899,2017-02-02 22:13:16,乘客上下车地点相同
49,粤AZ0R63,113.315273,23.109582,113.315273,23.109582,2017-02-02 22:31:41,乘客上下车地点相同

In [58]:
get_on_off_error.to_csv('乘客上下车地点相同.csv')

### 提取空车里程异常的信息

In [69]:
empty_mail = data['EMPTY_MAIL']

In [70]:
index_0 = []
index_overmail = []
for i in range(len(empty_mail)):
    if empty_mail[i] == 0:
        index_0.append(i)
    if empty_mail[i] > 400:
        index_overmail.append(i)

In [73]:
index_0 = index_0[0:200]
over_mail = []
mail_0 = []
for i in index_0:
    mail_0.append(data[i:i+1])
for i in index_overmail:
    over_mail.append(data[i:i+1])

In [76]:
overMail = pd.concat([i for i in over_mail], axis=0, ignore_index=True)
Mail0 = pd.concat([i for i in mail_0], axis=0, ignore_index=True)

In [77]:
over_m = overMail['EMPTY_MAIL'].values.tolist()
overMail = overMail[use]
Mail0  = Mail0 [use]
abs_conditions = []
for i in range(len(over_m)):
    string = '空车里程过大，里程为' + str(over_m[i]) + 'km'
    abs_conditions.append(string)
overMail['Abnormal_Condition'] = abs_conditions
string = '空车里程为零'
strings = [string for i in range(len(Mail0))]
Mail0['Abnormal_Condition'] = strings

In [78]:
overMail = overMail.drop(overMail[overMail.GET_ON_LONGITUDE == 0].index)
overMail = overMail.reset_index(drop=True)
overMail = overMail.drop_duplicates(['PLATE_NO'], keep='first',ignore_index=True)
overMail = overMail[0:50]
Mail0  = Mail0.drop(Mail0 [Mail0 .GET_ON_LONGITUDE == 0].index)
Mail0  = Mail0.reset_index(drop=True)
Mail0  = Mail0.drop_duplicates(['PLATE_NO'], keep='first',ignore_index=True)
Mail0  = Mail0[0:50]

In [81]:
Mail0.to_csv('空车里程为0.csv')
overMail.to_csv('空车里程过大.csv')

### 空车开始、结束时间异常情况(开工时间==收工时间)

In [83]:
empty_begin = data['EMPTY_BEGIN_TIME'].values.tolist()
work_begin_time = data['WORK_BEGIN_TIME'].values.tolist()
work_end_time = data['WORK_END_TIME'].values.tolist()

In [87]:
time_index = []
for i in range(len(work_begin_time)):
    if work_begin_time[i] == work_end_time[i]:
        time_index.append(i)

In [91]:
time_error = []
for i in time_index:
    time_error.append(data[i:i+1])
Time_error = pd.concat([i for i in time_error], axis=0, ignore_index=True)
Time_error  = Time_error.drop(Time_error[Time_error.GET_ON_LONGITUDE == 0].index)
Time_error  = Time_error .reset_index(drop=True)
Time_error  = Time_error.drop_duplicates(['PLATE_NO'], keep='first',ignore_index=True)
Time_error = Time_error[0:50]
Time_error = Time_error[use]

In [95]:
string = '空车开始时间与结束时间相同'
strings = [string for i in range(len(Time_error))]
Time_error['Abnormal_Condition'] = strings

C:\Users\姮娥\AppData\Local\Temp/ipykernel_1996/3109743394.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Time_error['Abnormal_Condition'] = strings

In [96]:
Time_error

,PLATE_NO,GET_ON_LONGITUDE,GET_ON_LATITUDE,GET_OFF_LONGITUDE,GET_OFF_LATITUDE,LOG_TIME,Abnormal_Condition
0,粤A0XX46,113.327599,23.136011,113.323000,23.123570,2017-02-02 17:55:36,空车开始时间与结束时间相同
1,粤A2XX27,113.271837,23.110936,113.260833,23.102221,2017-02-02 19:19:46,空车开始时间与结束时间相同
2,粤AZ4B24,113.252412,23.150096,113.252412,23.150096,2017-02-02 19:28:18,空车开始时间与结束时间相同
3,粤AB94E7,113.333457,23.002235,113.333457,23.002235,2017-02-02 01:44:38,空车开始时间与结束时间相同
4,粤AZ3N47,113.242639,23.134074,113.242639,23.134074,2017-02-02 19:23:13,空车开始时间与结束时间相同
5,粤AC04M3,113.322846,23.145540,113.322846,23.145540,2017-02-01 23:21:30,空车开始时间与结束时间相同
6,粤A0KB63,113.370463,23.132900,113.370229,23.131967,2017-02-04 11:12:28,空车开始时间与结束时间相同
7,粤AE65D5,113.289943,23.071363,113.289943,23.071363,2017-02-03 16:54:08,空车开始时间与结束时间相同
8,粤A1FS51,113.216200,23.153623,113.217399,23.152066,2017-02-04 05:22:40,空车开始时间与结束时间相同
9,粤AD06S1,113.358399,23.146352,113.358399,23.146352,2017-02-03 10:22:41,空车开始时间与结束时间相同
10,粤AY5P14,113.257510,23.118819,113.257510,23.118819,2017-02-03 14:45:38,空车开始时间与结束时间相同
11,粤A9LB34,113.266235,23.189984,113.262644,23.183801,2017-02-06 16:46:09,空车开始时间与结束时间相同
12,粤A0KM03,113.280525,23.122950,113.280746,23.123852,2017-02-07 19:09:25,空车开始时间与结束时间相同
13,粤AC74C1,113.320451,23.134586,113.350689,23.162171,2017-02-10 14:02:15,空车开始时间与结束时间相同
14,粤AE76Z1,113.282046,23.142778,113.282046,23.142778,2017-02-08 21:49:23,空车开始时间与结束时间相同
15,粤A0XT12,113.203905,23.233594,113.202955,23.233141,2017-02-04 09:51:01,空车开始时间与结束时间相同
16,粤A3LS47,113.316044,23.134711,113.316027,23.133736,2017-02-05 23:31:21,空车开始时间与结束时间相同
17,粤A1GD47,113.256989,23.205925,113.256989,23.205925,2017-02-04 06:38:31,空车开始时间与结束时间相同
18,粤A1EX64,113.450902,23.120250,113.450902,23.120250,2017-02-06 01:39:52,空车开始时间与结束时间相同
19,粤AH94X7,113.270684,23.119270,113.270684,23.119270,2017-02-06 17:35:05,空车开始时间与结束时间相同
20,粤A3GK41,113.303707,23.140188,113.250074,23.164364,2017-02-06 18:15:25,空车开始时间与结束时间相同
21,粤A2FD04,113.315052,23.182132,113.315052,23.182132,2017-02-07 16:00:21,空车开始时间与结束时间相同
22,粤A6ZK69,113.341588,23.178483,113.341588,23.178483,2017-02-13 12:18:23,空车开始时间与结束时间相同
23,粤AZ4T15,113.168362,23.109646,113.231088,23.176587,2017-02-10 13:49:09,空车开始时间与结束时间相同
24,粤AN2N42,113.420342,23.191102,113.420443,23.192047,2017-02-10 16:10:57,空车开始时间与结束时间相同
25,粤A0HD25,113.272109,23.200111,113.272109,23.200111,2017-02-09 06:32:27,空车开始时间与结束时间相同
26,粤A2EC35,113.230877,23.101109,113.247398,23.158364,2017-02-12 04:33:16,空车开始时间与结束时间相同
27,粤A0CA03,113.414287,23.119808,113.414287,23.119808,2017-02-09 06:29:55,空车开始时间与结束时间相同
28,粤AZ4F51,113.245090,23.156214,113.244836,23.155314,2017-02-11 20:33:43,空车开始时间与结束时间相同
29,粤AD03S7,113.244898,23.212724,113.244898,23.212724,2017-02-12 14:54:53,空车开始时间与结束时间相同
30,粤AD40S3,113.252500,23.227749,113.252994,23.228564,2017-02-12 02:50:23,空车开始时间与结束时间相同
31,粤AB24F4,113.288172,23.035963,113.288172,23.035963,2017-02-12 21:38:05,空车开始时间与结束时间相同
32,粤AJ61R4,113.302439,23.238773,113.302439,23.238773,2017-02-11 13:54:04,空车开始时间与结束时间相同
33,粤AB74W4,113.257665,23.222770,113.257303,23.224635,2017-02-12 18:11:01,空车开始时间与结束时间相同
34,粤A3CC95,113.320795,23.198839,113.320795,23.198839,2017-02-13 20:42:20,空车开始时间与结束时间相同
35,粤A509RQ,113.263947,23.159411,113.264472,23.158634,2017-02-15 11:42:21,空车开始时间与结束时间相同
36,粤A1JN45,113.250907,23.175449,113.248907,23.175172,2017-02-15 14:32:57,空车开始时间与结束时间相同
37,粤A1XT15,113.322271,23.190729,113.317964,23.156093,2017-02-14 17:40:11,空车开始时间与结束时间相同
38,粤AF52R7,113.328488,23.098524,113.328488,23.098524,2017-02-17 16:55:35,空车开始时间与结束时间相同
39,粤AY3K41,113.281933,23.224427,113.281933,23.224427,2017-02-17 04:46:03,空车开始时间与结束时间相同
40,粤AD06J7,113.325051,23.134062,113.325051,23.134062,2017-02-16 10:27:27,空车开始时间与结束时间相同
41,粤AB65W4,113.373597,23.135397,113.373597,23.135397,2017-02-16 06:53:10,空车开始时间与结束时间相同
42,粤AD02S1,113.370590,23.136984,113.370590,23.136984,2017-02-17 04:17:36,空车开始时间与结束时间相同
43,粤A4CG12,113.236330,23.116385,113.236330,23.116385,2017-02-17 20:58:40,空车开始时间与结束时间相同
44,粤A2MB48,113.261182,22.989438,113.260121,22.991065,2017-02-16 01:15:30,空车开始时间与结束时间相同
45,粤AT0W61,113.317575,23.125077,113.317575,23.125077,2017-02-16 18:01:20,空车开始时间与结束时间相同
46,粤AA56Y2,113.320749,23.200250,113.332314,23.228521,2017-02-19 19:52:23,空车开始时间与结束时间相同
47,粤AE42K0,113.316916,23.184704,113.301134,23.149470,2017-02-19 05:04:02,空车开始时间与结束时间相同
48,粤A0EK96,113.301854,23.406922,113.301854,23.406922,2017-02-19 09:54:17,空车开始时间与结束时间相同
49,粤A1MB14,113.368686,23.116498,113.369037,23.119241,2017-02-20 16:13:18,空车开始时间与结束时间相同

In [97]:
Time_error.to_csv('空车开始时间与结束时间相同.csv')